# Environment and virtual environment folders
.env
.new_venv/
.venv/

# Python bytecode cache directories
__pycache__/
*/__pycache__/
**/__pycache__/

# IDE files
.idea/

# Checkpoints
app/checkpoints

PROJECT_PATH.md

*.log
*/resources/
**/resources/

**/cache/

*.wav